@using Abp.AspNetZeroCore.Timing
@using Abp.CachedUniqueKeys
@using Abp.Configuration.Startup
@using Abp.Web.Security.AntiForgery
@using CCPDemo.Url
@using CCPDemo.Web.Resources
@using CultureHelper = CCPDemo.Localization.CultureHelper
@using Abp.AspNetCore.Mvc.Caching
@using Abp.Configuration
@using CCPDemo.Configuration
@inject ScriptPaths ScriptPaths
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IWebUrlService WebUrlService
@inject ICachedUniqueKeyPerUser CachedUniqueKeyPerUser
@inject IGetScriptsResponsePerUserConfiguration GetScriptsResponsePerUserConfiguration
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}

<!DOCTYPE html>
<html lang="en" dir="@(CultureHelper.IsRtl ? "rtl" : "")">
<!--begin::Head-->
<head>
    <meta charset="utf-8"/>
    <title>CCPDemo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    @* Fill these meta tags upon your project specification *@
    <meta content="CCPDemo" name="description"/>
    <meta content="CCPDemo" name="keywords">
    <meta content="CCPDemo" name="author"/>

    <link rel="shortcut icon" href="~/favicon.ico"/>

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/vendors.bundle.css" asp-append-version="true"/>
    <link rel="stylesheet" href="@(ApplicationPath)metronic/themes/default/css/style.bundle@(CultureHelper.IsRtl ? ".rtl" : "").css" asp-append-version="true"/>
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/account-layout-libs.css" asp-append-version="true"/>

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/common-styles.css" asp-append-version="true"/>
    <link rel="stylesheet" abp-href="/view-resources/Views/TenantRegistration/_Layout.css" asp-append-version="true"/>

    @if (CultureHelper.IsRtl)
    {
        <link rel="stylesheet" href="/Common/Styles/abp-zero-template-rtl.css" asp-append-version="true"/>
    }

    @await RenderSectionAsync("Styles", false)

    <script type="text/javascript">
	              @* This is used to get the application's root path from javascript.
	              It's useful if you're running application in a virtual directory under IIS. *@
	              var abp = abp || {}; abp.appPath = '@ApplicationPath';
	    </script>

</head>
<!--end::Head-->

<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">


<div class="d-flex flex-column flex-root">
    <div class="page d-flex flex-row flex-column-fluid" style="background-image: url('/metronic/assets/media/svg/illustrations/login.png');">
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <div id="kt_content_container" class="container-xxl">
                <div class="align-items-center">
                    <vc:account-logo skin="light"></vc:account-logo>
                </div>
                    @RenderBody()
                    <vc:account-languages></vc:account-languages>
                </div>
        </div>
    </div>
</div>

<!--begin::Base Scripts -->
<script abp-src="/view-resources/Areas/App/Views/_Bundles/account-layout-libs.js" asp-append-version="true"></script>

<!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
<script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
@if (GetScriptsResponsePerUserConfiguration.IsEnabled)
{
    <script src="@(ApplicationPath)AbpScripts/GetScripts?v=@(await CachedUniqueKeyPerUser.GetKeyAsync(GetScriptsResponsePerUserCache.CacheName))" type="text/javascript"></script>
}
else
{
    <script src="@(ApplicationPath)AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
}

<script abp-src="/view-resources/Areas/App/Views/_Bundles/common-scripts.js" asp-append-version="true"></script>

@WebResourceManager.RenderScripts();

@await RenderSectionAsync("Scripts", false)

<script>
        jQuery(document).ready(function () {
            if (window.CurrentPage) {
                CurrentPage.init();
            }
        });
    </script>
</body>
<!--end::Body-->
</html>
