@model CCPDemo.Web.Areas.App.Models.PhoneBook.PhoneRowInPersonListViewModel
<tr data-phone-id="@Model.Phone.Id">
    <td>
        <button class="btn btn-circle btn-icon-only btn-danger btn-sm default button-delete-phone">
            <i class="la la-trash"></i>
        </button>
    </td>
    <td>@Model.Phone.PhoneType.PhoneTypeName</td>
    


    @*<p>@Model.Phone.PhoneType.PhoneTypeName</p>*@
   @* @foreach(var type in Model.Phone){
        if(type.PhoneTypeId == Model.Phone.PhoneTypeId){
            <td>@type.PhoneTypeName</td>
        }
    }*@
    @*<td>@Model.Phone.PhoneTypeList</td>*@

    <td>@Model.Phone.Number</td>
</tr>