@model CCPDemo.Web.Areas.App.Models.PhoneBook.IndexViewModel

@using System.Threading.Tasks
@using CCPDemo.Web.Areas.App.Startup

@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.PhoneBook;
}

<div class="content d-flex flex-column flex-column-fluid">
    <div class="subheader py-2 py-lg-4 subheader-solid toolbar">
        <div class="container-fluid container-fluid d-flex flex-stack ">
            <div class="d-flex align-items-center flex-wrap me-1">
                <h3 class="text-dark font-weight-bold mt-2 mb-2 me-2">
                    <span>@L("PhoneBook")</span>
                </h3>
                <span class="subheader-separator subheader-separator-ver mt-2 mb-2 me-4 bg-gray-200"></span>
                <span class="text-muted font-weight-bold me-4">
                    @L("PhoneBookInfo")
                </span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h5 class="kt-subheader__title">@L("AllPeople")</h5>

        <div class="list-group">
            @foreach (var person in Model.Items)
            {
                <a href="javascript:;" style="color: black" class="list-group-item">
                    <h5 class="list-group-item-heading" style="font-weight: lighter">
                        @person.Name @person.Surname
                    </h5>
                    <p class="list-group-item-text">
                        @person.EmailAddress
                    </p>
                </a>
            }
        </div>
    </div>
</div>