@model CCPDemo.Web.Areas.App.Models.PhoneBook.IndexViewModel

@using System.Threading.Tasks
@using CCPDemo.Authorization
@using CCPDemo.Web.Areas.App.Startup

@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.PhoneBook;
}

@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Areas/App/Views/PhoneBook/Index.css" asp-append-version="true" />
    </environment>
}

@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Areas/App/Views/PhoneBook/_CreatePersonModal.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/PhoneBook/Index.js" asp-append-version="true"></script>
    </environment>
}


<div class="row kt-margin-b-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("PhoneBook")</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="col-xs-6 text-right">
        @if (IsGranted(AppPermissions.Pages_Tenant_PhoneBook_CreatePerson))
        {
            <button id="CreateNewPersonButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewPerson")</button>
        }
        @*<button id="CreateNewPersonButton" class="btn btn-primary"><i class="fa fa-plus"></i> @L("CreateNewPerson")</button>*@
    </div>
</div>


<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <br />
                @L("AllPeople") (@Model.Items.Count)
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <form action="@Url.Action("Index")" method="GET">
                    <div class="input-group">
                        <input id="FilterPeopleText" name="Filter" value="@Model.Filter" class="form-control"
                            placeholder="@L("SearchWithThreeDot")" type="text">
                        <span class="input-group-btn">
                            <button id="FilterPeopleButton" class="btn default btn-success" type="submit"><i
                                    class="la la-search-plus"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

<div class="portlet light">
    <div class="portlet-body">
        <br />
        <h3>@L("AllPeople")</h3>

        <div id="AllPeopleList" class="list-group">
            @foreach (var person in Model.Items)
            {
                <a href="javascript:;" class="list-group-item" data-person-id="@person.Id">
                    <h4 class="list-group-item-heading">
                        @person.Name @person.Surname
                @if (IsGranted(AppPermissions.Pages_Tenant_PhoneBook_DeletePerson))
                {
                    <button title="@L("Delete")" class="btn btn-circle btn-icon-only btn-danger delete-person" href="javascript:;">
                        <i class="la la-trash"></i>
                    </button>
                }
                    </h4>
                    <p class="list-group-item-text">
                        @person.EmailAddress
                    </p>
                </a>
            }
        </div>

    </div>
</div>






@*<div class="content d-flex flex-column flex-column-fluid">
    <div class="subheader py-2 py-lg-4 subheader-solid toolbar">
        <div class="container-fluid container-fluid d-flex flex-stack ">
            <div class="d-flex align-items-center flex-wrap me-1">
                <h3 class="text-dark font-weight-bold mt-2 mb-2 me-2">
                    <span>@L("PhoneBook")</span>
                </h3>
                <span class="subheader-separator subheader-separator-ver mt-2 mb-2 me-4 bg-gray-200"></span>
                <span class="text-muted font-weight-bold me-4">
                    @L("PhoneBookInfo")
                </span>
            </div>
        </div>
    </div>
     <div class="container-fluid">
        <h5 class="kt-subheader__title">@L("AllPeople")</h5>

        <div class="list-group">
            @foreach (var person in Model.Items)
            {
                <a href="javascript:;" style="color: black" class="list-group-item">
                    <h5 class="list-group-item-heading" style="font-weight: lighter">
                        @person.Name @person.Surname
                    </h5>
                    <p class="list-group-item-text">
                        @person.EmailAddress
                    </p>
                </a>
            }
        </div>
    </div>
</div>*@
